:root {
	--font-color: #e5e7eb;
	--background-color: #212121;
	--secondary-color: #065f46;
	--transition-animation: all 0.6s ease;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	border: 0;
}

html {
	font-size: 20px;
}

html,
body {
	width: 100%;
	height: 100%;
	background-color: var(--background-color);
	color: var(--font-color);
}

a {
	text-decoration: none;
	color: inherit;
	display: inline-block;
	transition: var(--transition-animation);
	&:hover {
		color: var(--secondary-color);
	}
}

li {
	list-style-type: none;
}

main {
	max-width: 100%;
	height: 100vh;
	overflow-y: auto;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
	/* Hide scrollbar for Chrome, Safari and Opera */
	&::-webkit-scrollbar {
		display: none;
	}
}

footer {
	height: 3.5rem;
	line-height: 3.5rem;
	text-align: center;
	margin: 0 auto;
}

header {
	height: 6rem;
	line-height: 6rem;
	text-align: center;
	margin: 0 auto;
	text-align: center;
}

section {
	text-align: center;
	padding-top: 74px;
}

article {
	display: inline-block;
	position: relative;
}

.gallery__img {
	height: 35vh;
	margin: 0.4rem;
	cursor: pointer;
}

.picture__note {
	position: absolute;
	margin: 0.4rem;
	left: 0;
	bottom: 0.2rem;
	background-color: var(--secondary-color);
	opacity: 0.8;
}

.picture__title {
	margin-bottom: 1rem;
	text-transform: capitalize;
}

.hidden > div {
	display: none;
}

.container {
	max-width: 1920px;
	height: 100vh;
	margin: 0 auto;
	padding-right: 3rem;
	padding-left: 3rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
